html{
  background-image: url('asd3.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.category-wrap {
  position: relative;
  bottom: 4.5em;
  padding: 15px;
  width: 200px;
  box-shadow: 2px 2px 8px rgba(0,0,0,.1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#text{
  color: white;
}
h2{
  position: relative;
  bottom: 24.8em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 35px;
  color: white;
  font-family: FontAwesome;
  margin: 0 0 10px;
  padding: 0 5px;
  position: relative;
  right: -20.7%;
  font-family: monospace;
}
.category-wrap h3 {
  position: relative;
  bottom: 3.2em;
  font-size: 19px;
  color: white;
  margin: 0 0 10px;
  padding: 0 5px;
  position: relative;
}
.category-wrap h3:after {
  position: relative;
  bottom: 4.5em;
  right: 20%;
  content: "";
  width: 9px;
  height: 9px;
  background: #1ecae9;
  position: absolute;
  right: 5px;
  bottom: 2px;
  box-shadow: -11px -11px #1ecae9, 0 -11px #1ecae9, -11px 0 #1ecae9;
}

.category-wrap ul {
  list-style: none;
  position: relative;
  bottom: 3.5em;
  margin: 0;
  padding: 0; 
  border-top: 1px solid rgba(0,0,0,.3);
}
.category-wrap li {margin: 12px 0 0 0px;}
.category-wrap a {
  text-decoration: none;
  display: block;  
  font-size: 19px;
  color: white;
  padding: 5px;
  position: relative;
  transition: .3s linear;
}
.category-wrap a:after {
  content:"\f18e";
  font-family: FontAwesome;
  position: absolute;
  right: 5px;
  color: white;
  transition: .2s linear;
}
.category-wrap a:hover {
  background: #1ecae9;
  color: white;
}
#viti{
  position: relative;
  right: -55%;
  bottom: -3.5em;
}
.decor {
  position: relative;
  bottom: 48em;
  right: -10%;
  max-width: 400px;
  margin: 50px auto 0;
  background: rgb(44, 43, 43);
  border-radius: 30px;
  border: 1px solid black;
}
.form-left-decoration,
.form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background: #1ecae9;
  border-radius: 20px;
}
.form-left-decoration {
  bottom: 60px;
  left: -30px;
}
.form-right-decoration {
  top: 60px;
  right: -30px;
}
.form-left-decoration:before {top: -20px;}
.form-left-decoration:after {
  top: 20px;
  left: 10px;
}
.form-right-decoration:before {
  top: -20px;
  right: 0;
}
.form-right-decoration:after {
  top: 20px;
  right: 10px;
}
.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background:cadetblue;
}
.form-inner {padding: 50px;}
.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 30px;
  background: #E9EFF6;
  line-height: 40px;
  border-width:0;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
  margin-top: 30px;
  background: #1ecae9;
  border-bottom: 4px solid #1ecae9;
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;

}
.form-inner textarea {resize: none;}
.form-inner h3 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707981;
}


table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
  
  
  }
  table {
    background: transparent;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid  white; 

    }
    th {
    font-weight: normal;
    font-size: 16px;
    color:white;
    padding: 10px 12px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid  white;
    
    }
    td {
    color: white;
    border-top: 1px solid rgb(165, 163, 163);
    border-left: 1px solid rgb(165, 163, 163);
    border-bottom: 1px solid rgb(165, 163, 163);
    border-right: 1px solid  rgb(165, 163, 163);
    height: 30px;
    padding: 10px 12px;
    background: rgb(49, 48, 48);
    transition: .3s;
    }
    tr:hover td {
    background: rgba(51, 51, 153, .1);
    color: white;
    }

  #vitti{
    position: relative;
    bottom: 16em;
    right: -69.9%;
    height:280px;
  }
  #calendar{
    color :#707981;
  }




