html{
    background-image: url('kaf1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h2{
    font-family: "Century Gothic";
    font-size: 32px;
    color: black;
    text-decoration: underline;
    text-decoration-color: #707981;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
    font-weight: bolder;

}
table {
    font-family: "Century Gothic";
    text-align: center;
    border-collapse: separate;
    border-spacing: 2px;
    background: #b5bca0;
    color: white;
    border: 15px solid #b5bca0;
    border-radius: 20px;
}
th {
    font-size: 18px;
    padding: 10px;
}
td {
    background: #001a34;
    padding: 10px;
}

#vitti {
    position: relative;
    bottom: 16em;
    right: -69.9%;
    height: 280px;
}
