<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MITI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'kaf.css') }}">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

</head>
<body>
<img id="viti" style="-webkit-user-select: none;margin: auto;" src="http://www.viti.edu.ua/img/viti.png">
<div class="category-wrap">
    <h3>Оберіть потрібну кафедру:</h3>
    <ul>
        <li><a href="table1">Кафедра №1</a></li>
        <li><a href="table2">Кафедра №2</a></li>
        <li><a href="table3">Кафедра №3</a></li>
        <li><a href="table4">Кафедра №4</a></li>
        <li><a href="table5">Кафедра №5</a></li>
        <li><a href="table6">Кафедра №6</a></li>
        <li><a href="table11">Кафедра №11</a></li>
        <li><a href="table12">Кафедра №12</a></li>
        <li><a href="table13">Кафедра №13</a></li>
        <li><a href="table21">Кафедра №21</a></li>
        <li><a href="table22">Кафедра №22</a></li>
        <li><a href="table23">Кафедра №23</a></li>
        <li><a href="table31">Кафедра №31</a></li>
        <li><a href="table32">Кафедра №32</a></li>
        <li><a href="table33">Кафедра №33</a></li>
    </ul>
</div>
<h2>ВІЙСЬКОВИЙ ІНСТИТУТ ТЕЛЕКОМУНІКАЦІЙ ТА ІНФОРМАТИЗАЦІЇ</h2>
<form class="decor">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <h3 id="text">Вкажіть номер групи та дату :</h3>
        <input type="text" placeholder="Номер групи:">
        <input id="calendar" placeholder="Дата :" type="date" required>
        <input type="submit" value="Пошук">
    </div>
</form>
</body>
</html>
