<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Animated Login Form</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>
  <img id="viti" style="-webkit-user-select: none;margin: auto;" src="http://www.viti.edu.ua/img/viti.png">
<form class="box" action="home.html" method="post">
  <h1>Login</h1>
  <input type="text" name="" placeholder="Username">
  <input type="password" name="" placeholder="Password">
  <input type="submit" name="" value="Login">
</form>
</body>
</html>
