{% extends 'base.html' %}

{% block table%}
<table id="asu">
    <tr>
        <td>1 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf11_1['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_1['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_1['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_1['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf11_2['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_2['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_2['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_2['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf11_3['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_3['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_3['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_3['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf11_4['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_4['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_4['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_4['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf11_5['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_5['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_5['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_5['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>2 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf11_6['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_6['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_6['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_6['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf11_7['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_7['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_7['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_7['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf11_8['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_8['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_8['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_8['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf11_9['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_9['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_9['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_9['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf11_10['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_10['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_10['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_10['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>3 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf11_11['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_11['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_11['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_11['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf11_12['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_12['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_12['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_12['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf11_13['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_13['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_13['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_13['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf11_14['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_14['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_14['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_14['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf11_15['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_15['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_15['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_15['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>4 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf11_16['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_16['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_16['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_16['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf11_17['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_17['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_17['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_17['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf11_18['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_18['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_18['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_18['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf11_19['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_19['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_19['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_19['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf11_20['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_20['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_20['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf11_20['lesson'] }}</span>
        </td>
    </tr>
</table>
{% endblock %}
