{% extends 'base.html' %}

{% block table%}
<table id="asu">
    <tr>
        <td>1 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf13_1['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_1['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_1['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_1['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf13_2['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_2['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_2['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_2['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf13_3['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_3['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_3['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_3['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf13_4['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_4['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_4['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_4['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf13_5['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_5['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_5['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_5['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>2 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf13_6['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_6['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_6['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_6['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf13_7['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_7['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_7['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_7['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf13_8['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_8['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_8['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_8['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf13_9['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_9['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_9['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_9['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf13_10['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_10['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_10['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_10['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>3 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf13_11['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_11['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_11['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_11['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf13_12['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_12['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_12['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_12['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf13_13['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_13['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_13['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_13['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf13_14['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_14['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_14['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_14['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf13_15['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_15['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_15['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_15['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>4 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf13_16['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_16['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_16['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_16['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf13_17['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_17['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_17['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_17['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf13_18['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_18['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_18['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_18['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf13_19['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_19['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_19['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_19['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf13_20['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_20['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_20['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf13_20['lesson'] }}</span>
        </td>
    </tr>
</table>
{% endblock %}
