{% extends 'base.html' %}

{% block table%}
<table id="asu">
    <tr>
        <td>1 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf21_1['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_1['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_1['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_1['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf21_2['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_2['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_2['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_2['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf21_3['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_3['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_3['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_3['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf21_4['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_4['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_4['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_4['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf21_5['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_5['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_5['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_5['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>2 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf21_6['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_6['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_6['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_6['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf21_7['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_7['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_7['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_7['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf21_8['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_8['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_8['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_8['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf21_9['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_9['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_9['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_9['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf21_10['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_10['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_10['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_10['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>3 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf21_11['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_11['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_11['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_11['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf21_12['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_12['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_12['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_12['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf21_13['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_13['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_13['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_13['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf21_14['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_14['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_14['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_14['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf21_15['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_15['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_15['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_15['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>4 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf21_16['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_16['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_16['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_16['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf21_17['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_17['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_17['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_17['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf21_18['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_18['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_18['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_18['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf21_19['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_19['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_19['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_19['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf21_20['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_20['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_20['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf21_20['lesson'] }}</span>
        </td>
    </tr>
</table>
{% endblock %}
