{% extends 'base.html' %}

{% block table%}
<table id="asu">
    <tr>
        <td>1 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf2['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf2['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf2['teacher'] }}</span>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>2 пара</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>3 пара</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>4 пара</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
{% endblock %}
