{% extends 'base.html' %}

{% block table%}
<table id="asu">
    <tr>
        <td>1 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf22_1['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_1['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_1['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_1['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf22_2['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_2['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_2['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_2['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf22_3['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_3['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_3['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_3['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf22_4['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_4['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_4['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_4['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf22_5['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_5['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_5['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_5['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>2 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf22_6['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_6['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_6['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_6['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf22_7['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_7['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_7['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_7['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf22_8['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_8['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_8['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_8['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf22_9['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_9['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_9['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_9['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf22_10['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_10['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_10['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_10['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>3 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf22_11['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_11['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_11['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_11['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf22_12['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_12['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_12['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_12['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf22_13['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_13['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_13['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_13['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf22_14['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_14['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_14['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_14['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf22_15['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_15['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_15['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_15['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>4 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf22_16['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_16['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_16['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_16['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf22_17['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_17['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_17['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_17['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf22_18['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_18['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_18['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_18['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf22_19['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_19['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_19['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_19['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf22_20['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_20['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_20['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf22_20['lesson'] }}</span>
        </td>
    </tr>
</table>
{% endblock %}
