<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MITI</title>
    <link rel="stylesheet" href="static/kaf.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

</head>
<body>
<table id="asu">
    <tr>
        <th></th>
        <th>Аудиторія №133</th>
        <th>Аудиторія №136</th>
        <th>Аудиторія №138</th>
        <th>Аудиторія №144</th>
        <th>Аудиторія №148</th>
    </tr>
    <tr>
        <td>1 пара</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>2 пара</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>3 пара</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>4 пара</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<img id="vitti" style="-webkit-user-select: none;margin: auto;"
     src="/static/viti.jpg">
</body>
</html>
