{% extends 'base.html' %}

{% block table%}
<table id="asu">
    <tr>
        <td>1 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf23_1['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_1['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_1['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_1['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf23_2['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_2['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_2['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_2['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf23_3['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_3['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_3['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_3['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf23_4['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_4['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_4['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_4['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf23_5['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_5['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_5['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_5['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>2 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf23_6['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_6['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_6['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_6['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf23_7['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_7['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_7['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_7['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf23_8['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_8['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_8['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_8['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf23_9['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_9['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_9['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_9['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf23_10['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_10['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_10['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_10['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>3 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf23_11['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_11['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_11['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_11['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf23_12['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_12['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_12['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_12['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf23_13['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_13['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_13['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_13['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf23_14['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_14['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_14['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_14['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf23_15['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_15['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_15['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_15['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>4 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf23_16['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_16['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_16['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_16['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf23_17['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_17['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_17['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_17['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf23_18['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_18['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_18['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_18['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf23_19['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_19['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_19['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_19['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf23_20['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_20['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_20['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf23_20['lesson'] }}</span>
        </td>
    </tr>
</table>
{% endblock %}
