{% extends 'base.html' %}

{% block table%}
<table id="asu">
    <tr>
        <td>1 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf33_1['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_1['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_1['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_1['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf33_2['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_2['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_2['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_2['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf33_3['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_3['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_3['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_3['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf33_4['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_4['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_4['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_4['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf33_5['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_5['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_5['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_5['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>2 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf33_6['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_6['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_6['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_6['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf33_7['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_7['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_7['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_7['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf33_8['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_8['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_8['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_8['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf33_9['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_9['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_9['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_9['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf33_10['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_10['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_10['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_10['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>3 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf33_11['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_11['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_11['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_11['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf33_12['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_12['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_12['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_12['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf33_13['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_13['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_13['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_13['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf33_14['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_14['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_14['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_14['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf33_15['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_15['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_15['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_15['lesson'] }}</span>
        </td>
    </tr>
    <tr>
        <td>4 пара</td>
        <td>
            <span class="badge badge-primary">{{ kaf33_16['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_16['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_16['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_16['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf33_17['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_17['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_17['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_17['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf33_18['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_18['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_18['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_18['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf33_19['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_19['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_19['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_19['lesson'] }}</span>
        </td>
        <td>
            <span class="badge badge-primary">{{ kaf33_20['classroom'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_20['platoon'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_20['teacher'] }}</span>
            <br>
            <span class="badge badge-primary">{{ kaf33_20['lesson'] }}</span>
        </td>
    </tr>
</table>
{% endblock %}
